<!DOCTYPE html>
<!--suppress XmlUnboundNsPrefix -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/stylesheet/style.css" th:href="@{/stylesheet/style.css}"/>
</head>
<nav>
    <ul class="nav">
        <li class="navLi"><a class="active" th:href="@{http://localhost:8086/fricke/model}">Home</a></li>
        <li class="navLi" id="logIN"><a th:href="@{http://localhost:8086/fricke/model/login}">Log In</a></li>
        <li class="navLi" id="logOut"><a th:href="@{http://localhost:8086/fricke/model/logout}">Log
            Out</a></li>
        <li class="navLi"><a th:href="@{http://localhost:8086/fricke/model/topics}">Topics</a></li>
        <li class="navLi"><a th:href="@{http://localhost:8086/fricke/model/topic}">Topic crete</a></li>
    </ul>
</nav>
<body>
<h1 th:text="${message}"></h1>
<h1>Topic create</h1>
<form action="#" th:action="@{/model/topic}" th:object="${topic}" method="post">
    <p>Id: <input type="text" th:field="*{identifier}" name="Identifier"/></p>
    <p>Message: <input type="text" th:field="*{name}" name="Name"/></p>
    <p>Description: <input type="text" th:field="*{description}" name="Description"/></p>
    <p><input type="submit" value="submit"/></p>
</form>
<p><input class="back" type="submit" value="back" th:value="back"
          th:onclick="location.href = '/fricke/model'"/></p></p>
<button type="button" id="but" value="Button">Click</button>
<p id="a"></p>
</body>
</html>

<script th:inline="javascript">
    let userSession = [[${session.name}]];
    if (userSession != null) {
        document.getElementById("logOut").hidden = false;
        document.getElementById("logIN").style.display = "none";
        document.getElementById("headReg").style.display = "none";
    } else {
        document.getElementById("logOut").hidden = true;
        document.getElementById("logIN").style.display = "block";
        document.getElementById("headReg").style.display = "block";
    }
</script>










/*
$(document).ready(function (){

$("#but").click(function (){
alert("Hi");
$("#a").text("Aa");
})
})
*/