<!DOCTYPE html>
<!--suppress XmlUnboundNsPrefix -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.theamlead.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/stylesheet/style.css" th:href="@{/stylesheet/style.css}"/>
    <script th:outline="javascript" th:src="@{/js/show.js}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <title>Login</title>
</head>
<nav>
    <ul class="nav">
        <li class="navLi"><a class="active" th:href="@{http://localhost:8086/fricke/model}">Home</a></li>
        <li class="navLi"><a href="@{http://localhost:8086/fricke/model/login}">Log In</a></li>
        <li class="navLi"><a th:href="@{http://localhost:8086/fricke/model/topics}">Topics</a></li>
        <li class="navLi"><a th:href="@{http://localhost:8086/fricke/model/topic}">Topic crete</a></li>
        <li class="navLi" style="float: right" id="prof"><a th:href="@{http://localhost:8086/fricke/model/profile}"><img
                src="../icon/profil.jpg"
                style="max-width: 0.9em" onload="btnHidden()"></a></li>
    </ul>
</nav>
<body id="showMessage">
<form name="login" id="Log" th:action="@{/model/login}" th:object="${gamer}" method="post"
      style="max-width:500px;margin:auto">
    <h2>Login Form</h2>

    <div class="input-container">
        <i class="fa fa-user icon"></i>
        <input class="input-field" id="nick" type="text" th:field="*{nickname}" placeholder="Nickname" name="Nickname">
    </div>
    <div class="input-container">
        <i class="fa fa-user icon"></i>
        <input class="input-field" type="password" th:field="*{password}" placeholder="Password" name="Password">
    </div>
    <button type="submit" class="btn">Login in</button>
</form>
<br>
<div class="registerTag">
    <a th:href="@{http://localhost:8086/fricke/model/register}">REGISTER HERE</a>
</div>
<p class="isa_error" style="max-width:500px;margin:auto" th:text="${message}"></p>
</body>
</html>

<script th:inline="javascript">
    let userSession = [[${session.name}]];
    if (userSession != null) {
        document.getElementById("showMessage").style.display = "none";
        document.getElementById("logOut").hidden = false;
    } else {
        document.getElementById("showMessage").style.display = "block";
        document.getElementById("logOut").hidden = true;
    }

    function btnHidden() {
        if (userSession != null) {
            document.getElementById("prof").style.display = "block";
        } else {
            document.getElementById("prof").style.display = "none";
        }
    }
</script>
