<!DOCTYPE html>
<!--suppress XmlUnboundNsPrefix -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/stylesheet/style.css" th:href="@{/stylesheet/style.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../js/jq.js"></script>
    <title>Title</title>
</head>
<nav>
    <ul class="nav">
        <li class="navLi"><a class="active" th:href="@{http://localhost:8086/fricke/model}">Home</a></li>
        <li class="navLi" id="logIN"><a th:href="@{http://localhost:8086/fricke/model/login}">Log In</a></li>
        <li class="navLi" id="logOut"><a th:href="@{http://localhost:8086/fricke/model/logout}">Log
            Out</a></li>
        <li class="navLi"><a th:href="@{http://localhost:8086/fricke/model/topics}">Topics</a></li>
        <li class="navLi"><a th:href="@{http://localhost:8086/fricke/model/topic}">Topic crete</a></li>
    </ul>
</nav>
<body>
<h1 th:text="${message}"></h1>
<div class="TDark">
    <table id="myTable">
        <thead>
        <tr>
            <th>Title</th>
            <th>Message</th>
            <th>Name</th>
            <th>Delete</th>
            <th>Update</th>
        </tr>
        <tbody id="tbody">
        <tr th:each="topic: ${topics}" id="tr">
            <td class="td" th:text="${topic.identifier}"></td>
            <td class="td"><a class="inf" id="infTD" th:text="${topic.name}" th:each="optionValue,iterStat : ${topic}"
                              th:attr="data-id=${optionValue.description}"></a></td>
            <td th:text="${topic.gamer.firstname}"></td>
            <td class="td">
                <button class="btn deleteArt" id="btn-danger" th:attr="data-id=${topic.id}">Delete</button>
            </td>
            <td class="td">
                <button class="btn" id="btn-update">Update</button>
            </td>
        </tr>
        </tbody>
        </thead>
    </table>
</div>

<br>

<div>
    <section>
        <p>View item a page</p>
        <select name="" id="selectTopic" onchange="displayPage(2)">
            <option value="NO SET">NO SET</option>
            <option value="2">2</option>
            <option value="4">4</option>
            <option value="6">6</option>
            <option value="8">8</option>
            <option value="10">10</option>
            <option value="12">12</option>
        </select>
    </section>
</div>
<ul class="pagination ul" style="max-width:150px;margin:auto">
    <li class="prev ulLi"><a href="#" id="prev">&#139</a></li>
    <!--<li class="next nextLi ulLi"><a href="#" id="next">&#155</a></li>-->
</ul>
<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close" id="clo">&times;</span>
        <p id="descT"></p>
    </div>
</div>

</body>
</html>
<script th:inline="javascript">
    let userSession = [[${session.name}]];
    if (userSession != null) {
        document.getElementById("logOut").hidden = false;
        document.getElementById("logIN").style.display = "none";
        document.getElementById("headReg").style.display = "none";
    } else {
        document.getElementById("logOut").hidden = true;
        document.getElementById("logIN").style.display = "block";
        document.getElementById("headReg").style.display = "block";
    }
</script>