<!DOCTYPE html>
<!--suppress XmlUnboundNsPrefix -->
<html xmlns:th="http://www.theamlead.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/stylesheet/style.css" th:href="@{/stylesheet/style.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <title>Title</title>
</head>
<nav>
    <ul class="nav">
        <li class="navLi"><a class="active" th:href="@{http://localhost:8086/fricke/model}">Home</a></li>
        <li class="navLi" id="logIN"><a th:href="@{http://localhost:8086/fricke/model/login}">Log In</a></li>
        <li class="navLi" id="logOut"><a th:href="@{http://localhost:8086/fricke/model/logout}">Log
            Out</a></li>
        <li class="navLi"><a th:href="@{http://localhost:8086/fricke/model/topics}">Topics</a></li>
        <li class="navLi"><a th:href="@{http://localhost:8086/fricke/model/topic}">Topic crete</a></li>
    </ul>
</nav>
<body>
<h1 th:text="${message}"></h1>
<table class="table table-dark">
    <thead>
    <tr>
        <th>Identifier</th>
        <th>Name</th>
        <th>Description</th>
    </tr>
    <tbody>
    <tr th:each="topic: ${topics}">
        <td th:text="${topic.identifier}"></td>
        <td th:text="${topic.name}"></td>
        <td th:text="${topic.description}"></td>
    </tr>
    </tbody>
    </thead>
</table>
</body>
</html>
<script th:inline="javascript">
    let userSession = [[${session.name}]];
    if (userSession != null) {
        document.getElementById("logIN").style.display = "none";
        document.getElementById("headReg").style.display = "none";
        document.getElementById("logOut").hidden = false;
    } else {
        document.getElementById("logIN").style.display = "block";
        document.getElementById("headReg").style.display = "block";
        document.getElementById("logOut").hidden = true;
    }
</script>