input[type=submit], input[type=button] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

input.back[type=submit] {
    background-color: black;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

a {
    color: #1F4F82;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

#infTD {
    color: white;
}

h1, h2 {
    text-align: center;
    background-color: #1F4F82;
    color: #4CAF50;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.navLi {
    float: left;
    border-right: 1px solid #bbb;
}

li.navLi:last-child {
    border-right: none;
}

li.navLi a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.navLi a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}

/*Register*/
body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

.input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.icon {
    padding: 10px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;
}

.input-field {
    width: 100%;
    padding: 10px;
    outline: none;
}

.input-field:focus {
    border: 2px solid dodgerblue;
}

.myText, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.createTopic {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

/* Set a style for the submit button */
.btn {
    background-color: dodgerblue;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.btn:hover {
    opacity: 1;
}

#btn-danger {
    background: #DD2750;
    border: 1px solid #C43352;
    box-shadow: inset 0 0 1em gold, 0 0 1em red;
    border-radius: 2em;
    padding: 0.5em;
    width: 5.5em;
    height: 2.5em;
}

#btn-update {
    border: 1px solid #C43352;
    box-shadow: inset 0 0 1em gold, 0 0 1em dodgerblue;
    border-radius: 2em;
    padding: 0.5em;
    width: 5.5em;
    height: 2.5em;
}

/*Login*/
/*Error*/
.isa_error {
    color: #D8000C;
    background-color: #FFD2D2;
    text-align: center;
}

/*Successful*/
.isa_success {
    color: #4F8A10;
    background-color: #DFF2BF;
    text-align: center;
}

.no_success {
    color: #0000CD;
    background-color: #DFF2BF;
    text-align: center;
}

.registerTag {
    max-width: 500px;
    margin: auto;
    border-radius: 1em;
    text-align: center;
    font-size: 1.2em;
    font-family: Helvetica;
    box-shadow: inset 5px 5px 10px dodgerblue, rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    text-shadow: 5px 5px 10px dodgerblue;
}

/*Table*/
table, td, th {
    border: 1px solid black;
    text-align: center;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

table {
    border-collapse: collapse;
    width: 50%;
    background-position: center;
}

.TDark {
    display: flex;
    justify-content: center;
}

.td:hover {
    background-color: coral;
}

/*popup*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #000000;
    color: #fefefe;
    opacity: 0.8;
    font-weight: bold;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 10px 20px 15px silver;
    border-radius: 20px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}